@import "./Colors";

#content {
  grid-area: content;
  width: 100%;
  height: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    139deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 51, 51, 1) 35%,
    rgba(255, 68, 0, 1) 100%
  );

  .description {
    width: 100%;
    height: 20rem;
    background: rgba($color: #000, $alpha: 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-left: 5rem;
      color: $txtColor;
      font-size: 2rem;
      font-weight: 600;
    }
  }

  #about {
    width: 100%;
    height: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .content-about {
      color: $txtColor;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        width: 70%;

        &:nth-child(1) {
          font-size: 2rem;
          font-weight: 600;
          font-style: italic;
          border-bottom: 1px solid $txtHover;
        }
        &:nth-child(2) {
          font-size: 1.5rem;
          font-weight: 400;
          margin-top: 0.5rem;
        }
      }
    }

    .skills {
      color: $txtColor;
      width: 50%;
      display: flex;
      flex-direction: column;

      h2 {
        text-align: center;
      }

      .content-skills {
        li {
          list-style: none;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0.5rem 0;

          p {
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            color: rgba($color: #fff, $alpha: 1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;

            svg {
              font-size: 1.4rem;
              margin-right: 1rem;
            }

            .procentaje {
              font-size: 1.8rem;
              color: rgba($color: #fff, $alpha: 0.6);
              letter-spacing: 0.1rem;

              span {
                font-size: 0.9rem;
              }
            }
          }

          .bar {
            background: #353b48;
            display: block;
            height: 0.25rem;
            border: 1px solid rgba($color: #000000, $alpha: 0.3);
            border-radius: 0.1rem;
            overflow: hidden;
            box-shadow: 0 0 10px rgb(192, 233, 146);
            width: 60%;
            margin-top: 0.5rem;

            span {
              height: 1rem;
              float: left;
              background: rgb(192, 233, 146);
            }

            .html {
              width: 90%;
            }

            .css {
              width: 75%;
            }

            .sass {
              width: 70%;
            }

            .git {
              width: 65%;
            }

            .reactjs {
              width: 65%;
            }

            .javascript {
              width: 70%;
            }
          }
        }
      }
    }
  }

  #projects {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30rem;
    background: rgba($color: #000, $alpha: 0.25);

    .container-projects {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .card {
        background: #fff;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s ease;
        cursor: pointer;
        box-shadow: 5px 5px 5px 5px rgba($color: #000000, $alpha: 0.3);

        .card-title {
          width: 100%;
          margin: 1rem 0;

          p {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 600;
          }
        }

        .card-img {
          width: 95%;
          height: auto;
          box-sizing: content-box;

          img {
            width: 100%;
            height: auto;
          }
        }

        .card-description {
          width: 90%;

          p {
            margin-top: 1rem;
            text-align: center;
            font-style: italic;
          }
        }

        &:nth-child(1) {
          width: 16rem;
          height: 22rem;
        }
        &:nth-child(2) {
          width: 18rem;
          height: 25rem;
        }
        &:nth-child(3) {
          width: 16rem;
          height: 22rem;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  #social-media {
    width: 100%;
    height: 10rem;

    .container-social {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      .item {
        width: 3.5rem;
        height: auto;

        a {
          text-decoration: none;

          .MuiSvgIcon-root {
            color: #fff;
            width: 100%;
            height: 100%;
            transition: 0.3s ease;

            &:hover {
              color: #333;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
