@import "./Colors";

#header {
  grid-area: header;
  width: 100%;

  .content-header {
    height: 100%;
    background-color: $bgColor;

    display: flex;
    justify-content: space-between;

    .image-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 4rem;
        border-radius: 50%;
        margin: 0.5rem;
      }

      p {
        font-size: 1rem;
        font-weight: 600;
        color: $txtColor;

        span {
          font-size: 0.8rem;
          color: $txtMute;
        }
      }
    }

    .nav-header {
      display: flex;
      justify-content: center;
      align-items: center;

      .list-items {
        display: flex;
        gap: 1rem;
        list-style: none;

        .item {
          padding: 1rem;

          a {
            text-decoration: none;
            color: $txtColor;
            font-weight: 600;
            font-size: 1.1rem;

            &:hover {
              color: $txtHover;
              border-bottom: 1px solid $txtHover;
            }
          }

          &:last-of-type {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}
